@tailwind base;
@tailwind components;
@tailwind utilities;

.flex {
  display: flex;
  display: -webkit-flex;
}

.flex-wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.space-between {
  justify-content: space-between;
}

.flex-start {
  justify-content: flex-start !important;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.align-top {
  align-items: flex-start;
}

.flex-column {
  flex-direction: column;
}

.space-around {
  justify-content: space-around;
}

.align-center,
.align-items-center {
  align-items: center;
}

.align-self-start {
  align-self: start;
}

.align-self-normal {
  align-self: normal;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-baseline {
  align-self: baseline;
}

.justify-self-end {
  justify-self: end;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.header{
    background-color: aliceblue;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 999;
}
.header img{
    width: 100px;
}
.listUnstyle{
    list-style: none;
}
.grid-gap-5{
    grid-gap: 10px;
}
.grid-gap-20{
  grid-gap: 20px;
}
.p10{
  padding: 10px;
}
.p20{
  padding: 20px;
}

.shimmer-card {
  position: relative;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  border-radius: 6px;
  overflow: hidden;
  width: 350px;

.shimmerBg {
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #E5F0FB;
  background: linear-gradient(to right, #f3f3f3 4%, #e2e2e2 25%, #e6e6e6 36%) 0 0 / 1200px 100%;
  background-size: 1200px 100%;
}
.shimmer-lines{
  margin-top: 20px;
    padding: 20px;
}
@-webkit-keyframes shimmer {
  0% {
      background-position: -100% 0;
  }
  100% {
      background-position: 100% 0;
  }
}

@keyframes shimmer {
  0% {
      background-position: -1200px 0;
  }
  100% {
      background-position: 1200px 0;
  }
}

.media {
  height: 200px;
}
.title-line {
  height: 24px;
  width: 100%;
  margin-bottom: 12px;
  border-radius: 20px;
}

.content-line {
  height: 8px;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 8px;
}

.end {
    width: 40%;
  }

}
